li {
    display: inline-block;
    list-style: none;
}

.Footer {
    margin-top: 50px;
    color: #D18743;
    background: #dedede;
    list-style: none;
    text-align: center;
	font-size: 13px;
}
.Footer a {
    color: #D18743;
}


.error {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    color: red;
    font-weight: bold;
}
.button.los, a.button.los {
    color: #fff;
    background: #e7a568;
    min-width: 80px;
    border-color: #eab27e #e49852 #e49852 #eab27e;
}

.block-header {
    background: #D18743;
}
.block {
    margin-right: auto;
    width: 500px;
    background: white;
    margin-left: auto;
    margin-top: 100px;
}
body {

    margin: 0;

	font-family: Inkut Antiqua;
	background: #ededed;
	list-style: none;

}

.body {
    font-family: Inknut Antiqua;
	margin-top: 10px;
	
}

html {
    background: #ededed;
}

li {

    padding-right: 15px;

	padding-left: 15px;

}



body a {

    font-family: Inknut Antiqua;

    text-decoration: none;

    color: white;

}



.Header {

    height: 300px;

    background: url(https://buycraft.twerion.net/bg.png) #111212;

}

.Logo img {

    height: 285px;

}

.Logo {

    text-align: center;

}

.Navigation {

	font-size: 19px;

	text-shadow: 4px 4px 5px rgba(0,0,0,0.6);

	position: sticky;

	height: 37px;

    border-radius: 1px 1px 5px 6px;

    color: black;

    background: #c57f3f;

}

.Navigaton-inner li {



	list-style: none;

    font-family: Inknut Antiqua;

    text-decoration: none;

    color: white;

	padding-right: 15px;

	padding-left: 15px;

}

.Navigation-inner {

	margin-right: auto;

    margin-left: auto;

    max-width: 1250px;

	font-size: 15px;

	text-transform: uppercase;

}

.Navigation-inner {

    display: flex;

}

.Navigation-element-main {

    font-weight: bold;

}
















input[type="text"] {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 450px;
    padding: 7px;
    border: none;
    border: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;

}


input[type="submit"] {

    -moz-box-shadow: inset 0px 1px 0px 0px #ff9f46;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ff9f46;
    box-shadow: inset 0px 1px 0px 0px #ff9f46;
    background-color: #D18743;
    border: 1px solid #ff9f46;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: Inknut Antiqua, sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}